/*!
Theme Name: Acres Foundation
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: acres-foundation
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Acres Foundation is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@import 'assets/scss/normalize.scss';
@import 'assets/scss/base_style.scss';

/*nothing below this point is needed*/

/* #Navigation
================================================== */

.start-header {
	/*opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);*/
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	/*position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;*/
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
	align-items: flex-end;
}
.navbar-brand
{
	padding: 0;
	 img{
		height: auto;
		width: 120px;
		display: block;
		-webkit-transition : all 0.3s ease-out;
		transition : all 0.3s ease-out;
	}
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #ed1651 !important;
}
.nav-item.active .nav-link{
	color: #ed1651 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:last-child:after{
background: none
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
	font-family: Poppins-SemiBold;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #707070;
}
.topmenu{
	ul{
		display: flex;
		justify-content: space-between;
		max-width: 90%;
		width: 90%;
		align-items: baseline;
		li{

			a{
				text-transform: uppercase;
				h2{
					font-family: Poppins-Medium;
					font-size: 18px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.22;
					letter-spacing: 0.09px;
					text-align: center;
					color: #ffffff;
					/*background: hsl(0, 0%, 90%);*/background: #adadad;
					max-width: 171px;
					margin: 0;
    				padding: 10px 0;
				}
			}

		}
	}
}
.mob-down{
		width: 100%;
		h2{
			background: #542f87;
			font-size: 18px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.44;
			letter-spacing: 0.09px;
			text-align: center;
			color: #ffffff;
			padding: 15px 0;
			margin: 0;
		}
}


.max-width-ct{
	max-width: 1320px;
	width: 100%;
	margin: 0 auto;
}

.top-slider{

			@include screen(small){
				margin-top: 5%;
			}


	.sty-ribban{
		background: hsl(355deg 79% 58%);
		display: inline-block;
		position: absolute;
	    left: 15px;
	    bottom: 6%;
	    text-align: center;
    	padding: 20px;
		@include screen(small){
			position: static;
		}
		h2{
			font-family: Poppins-Bold;
			font-size: 42px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.31;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			padding: 0;
			margin: 0;
			@include screen(small){
				/*font-size: 1.5rem;*/
				display: none;
			}
		}
		p{
			font-family: Poppins-Medium;
			padding: 0;
			margin: 0;
			font-size: 24px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.29;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			@include screen(small){
				line-height: 1.5;
			}
		}
	}
	.i-button {
	    position: absolute;
	    right: 0;
	    bottom: 1%;
	    max-width: 120px;
			@include screen(small){
				bottom: 24%;
			}
	}
}

.comman-cls{
	h5{
		font-family: Poppins-Medium;
		font-size: 24px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		margin: 0;
		padding: 0;
	}
	h2{
		font-family: Poppins-Bold;
		font-size: 42px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
		margin: 0;
		padding: 0;
	}
	p{
		font-family: Poppins-Regular;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		margin: 0;
		padding: 0;
			@include screen(small){
				font-size: 16px;
			}
			&:last-child{
				@include screen(small){
					padding-bottom: 40px;
				}
			}
	}
}
.new-idea{
	align-items: center;
	padding: 10% 0;
	h2,p,h5{
		width: 94%;
	}
	h2{
		padding: 0 0 10% 0;

	}
	h2,h5{
			@include screen(small){
				display: none;
			}
	}
}

.education-ct{
	    padding: 5% 0 10% 0;
	h5,h2{
		text-align: center;
	}
	h2{
		padding-bottom: 20px;
		@include screen(small){
					font-size: 22px;
					padding: 0 15px;
					text-align: left;
				}
	}
	h5{
		@include screen(small){
					font-size: 16px;
					padding: 0 15px;
					text-align: left;
				}
	}
	.col{
			background: #a2a2a2;
			flex-direction: column;
    		justify-content: space-between;
    		display: flex;
    		border: solid 10px #fff;
    		padding: 15px;
    		h3{
				font-family: Poppins-Bold;
				font-size: 24px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.38;
				letter-spacing: 0.55px;
				text-align: left;
				color: #ffffff;
				padding-bottom: 20%;
    		}
    		p{
				font-family: Poppins-Regular;
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.65;
				letter-spacing: 0.34px;
				text-align: left;
				color: #ffffff;
    		}
	}
}

.vision-ct{
	background: #542f87;
	padding: 4% 0;
	h2{
		font-family: Poppins-Bold;
		font-size: 42px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: 0.84px;
		text-align: center;
		color: #aae1ff;
			@include screen(small){
				font-size: 28px;
			}
	}
	.blockqute-ct{
			display: flex;
		    max-width: 52%;
		    align-items: center;
		    /* justify-content: space-between; */
		    justify-content: center;
		    margin: 0 auto;
			@include screen(small){
				flex-direction: column;
				max-width: 90%;
			}
		p{
			font-family: Poppins-Medium;
			font-size: 20px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.6;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			padding: 15px;
			@include screen(small){
				font-size: 16px;
			}
			
		}
		img{
			width: 70px;
			@include screen(small){
				width: 40px;
			}
			&:first-child{
				@include screen(small){
					margin-right: auto;
				}
			}
			&:last-child{
				@include screen(small){
					margin-left: auto;
				}
			}
		}
	}
}

.work-ct{
	background: #efefef;
	padding: 5% 0 2% 0;
	h5,h2,h4{
		text-align: center;
	}
	h5{
		@include screen(small){
			font-size: 20px;
		}
	}
	h2{
		@include screen(small){
			font-size: 22px;
		}
	}
	h4{
		max-width: 60%;
    	margin: 0 auto;
    	font-family: Poppins-Regular;
	  font-size: 18px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: center;
	  color: #000000;
	  padding-bottom: 10%;
		@include screen(small){
			display: none;
		}
	}
	.bg-path{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 220px;
			margin-bottom: 5%;
			@include screen(small){
				margin-top: 10%;
				min-height: 190px;
			    justify-content: flex-end;
			}
		&:after, &:before{
			background: url('./assets/images/Path.svg') no-repeat;
			content: '';
		    position: absolute;
		    /*border: solid;*/
		    top: 0;
		    width: 100px;
		    height: 100%;
			@include screen(small){
				width: 80px;
				background-size: 100%;
		    }
		}
		&:after{left: 10px}
		&:before{
			right: 10px;
			-webkit-transform: scaleX(-1);
  			transform: scaleX(-1);
		}
		h2{
			font-family: Poppins-Bold;
			font-size: 18px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: 0.18px;
			text-align: center;
			color: #623191;
			border-bottom: solid 2px #ee2250;
			padding-bottom: 10px;
    		margin-bottom: 10px;
    		z-index: 1;
			@include screen(small){
				font-size: 12px;
			}
		}
		p{
			font-family: Poppins-SemiBold;
			font-size: 17px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.18;
			letter-spacing: 0.17px;
			text-align: left;
			color: #623191;
			z-index: 1;
			@include screen(small){
				font-size: 12px;
			}
		}
	}
}
.footer-idea{
	h2,h5{
		@include screen(small){
			display: block;
		}
	}
	h5{
		@include screen(small){
			font-size: 16px;
		}
	}
	h2{
		@include screen(small){
			font-size: 28px;
		}
	}
}
.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;

	.popup {
	  /*margin: 70px auto;*/
	  margin-left: auto;
	  padding: 20px;
	  background: #fff;
	  border-radius: 5px;
	  width: 35%;
	  position: relative;
	  transition: all 5s ease-in-out;
	  top: 20%;
      transform: translate(-20%);

	  h2 {
		  font-family: Poppins-Bold;
		  font-size: 24px;
		  font-weight: bold;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.42;
		  letter-spacing: normal;
		  text-align: left;
		  color: #ed1651;
		}
		p{
			font-family: Poppins;
			font-size: 16px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.13;
			letter-spacing: normal;
			text-align: left;
			color: #000000;
		}
		.close {
		  position: absolute;
		  top: 20px;
		  right: 30px;
		  transition: all 200ms;
		  font-size: 30px;
		  font-weight: bold;
		  text-decoration: none;
		  color: #333;
		  &:hover{
  			color: #06D85F;
		  }
		}
		.content {
		  max-height: 30%;
		  overflow: auto;
		  .gform_wrapper{
		  	margin: 0;
		  	padding: 0;
		  	ul{
			  	li{
			  		margin: 0;
			  		label{
			  			display:none;
			  		}
			  		input{
			  			background: #dbdbdb;
			  			border: none;
			  			padding: 10px !important;
    					margin-bottom: 10px;
    					font-family: Poppins-Medium;
			  			&::placeholder {
					  	  color: #202020;
						  opacity: 1; /* Firefox */
						  font-size: 12px;
						  font-family: Poppins-Medium;
						}
						&::-ms-input-placeholder { /* Internet Explorer 10-11 */
						  font-size: 12px;
					  		color: #202020;
						}

						&::-ms-input-placeholder { /* Microsoft Edge */
						  font-size: 12px;
					  		color: #202020;
						}
			  		}
			  		
			  	}
		  	}
		  }

.gform_footer{
	input[type=submit]{
		background: #ed1651;
		border: none;
		font-family: Poppins-Medium;
		font-size: 16px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		padding: 7px ​20px;
	}
}




		}
	}
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}


/*leadership css start*/
.leadership-ct{
    align-items: center;
    padding: 5% 0;
    	@include screen(small){
			flex-direction: column-reverse;
		}
    h2{
    	font-size: 34px;
    	padding-bottom: 25px;
    	@include screen(small){
    		padding-top: 20px;
    	}
    }
    p{
    	font-size: 16px;
    }
    h2,p{
    	max-width: 87%;
    	@include screen(small){
    		max-width: 100%;
    	}
    }
    .col{
    	@include screen(small){
    		padding: 0;
    	}
    }
}
.board-members-ct{
	flex-direction: column;
	padding: 45px 0;

	h2{
		font-family: Poppins-Bold;
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 0.89;
		letter-spacing: normal;
		text-align: center;
		color: #ed1651;
    	@include screen(small){
    		font-size: 26px;
		}
	}
	p{
		font-family: Poppins-Regular;
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		color: #000000;
    	@include screen(small){
    		padding-bottom: 0 !important;
    		font-size: 20px;
		}
	}
}
.members-ct{
	ul{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	    	@include screen(small){
	    		padding: 0 15px;
	    	}
		li{
			list-style: none;
			flex: 0 0 33.33%;
    		max-width: 33.33%;
    		padding: 0 7% 5% 0;
	    	@include screen(small){
	    		-ms-flex-preferred-size: 0;
			    flex-basis: 0;
			    -ms-flex-positive: 1;
			    flex-grow: 1;
			    max-width: 100%;
			    flex: 0 0 100%;
			    padding: 0;
	    	}
    		h3,p{
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 27px;
				  letter-spacing: normal;
				  text-align: left;
				  color: #000000;
    		}
    		h3{
    			font-family: Poppins-Bold;
				font-size: 20px;
				color: #ed1651;
				padding-top: 20px;
    		}
    		p{
    			font-family: Poppins-Regular;
				font-size: 18px;
				color: #000;
    		}
		}
	}
}
/*leadership css end*/

.approaches-ct{
	p,h5{
		padding-bottom: 5%;
	}
}
.model-school-ct{
	    padding: 5% 0;
	@include screen(small){
		padding: 0 15px;
	}
	h2{
    	font-family: Poppins-Bold;
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
		@include screen(small){
			font-size: 26px;
		}
	}
	p{
		font-family: Poppins-Regular;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
	}

	.inner-sh-ct{
		border-top: solid 1px #ed1651;
		margin-top: 5%;
    	padding-top: 2%;
		h3{
			font-family: Poppins-SemiBold;
			font-size: 24px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: #542f87;
			@include screen(small){
				font-size: 20px;
			}
		}
		ul{
			margin: 0;
			padding: 0 15px;
		}
		h4{
			font-family: Poppins-SemiBold;
			font-size: 18px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
			color: #ed1651;

		}
	}
}

.first-act{
	color: #fff;
	padding: 3% 0;
	@include screen(small){
		padding: 0;
	}
	.red-bg{
		background: #ed1651;
	}
	.purple-bg{
		background: #542f87;
	}
	h2{
		font-family: Poppins-SemiBold;
		font-size: 24px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		@include screen(small){
			font-size: 16px;
		}

	}
	ul{
		font-family: Poppins-Regular;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.31;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		@include screen(small){
			font-size: 12px;
		}
		li{
			padding-bottom: 20px;
			@include screen(small){
				padding-bottom: 10px;
				font-size: 8px;
			}
		}
	}
	.right-arrow-ct{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.right-arrow-ct, .left-arrow-ct, .up-arrow-ct, .down-arrow-ct{
	display: flex;
	align-items: center;
	justify-content: center;
}
.middle-ma-text{
	h3{
		text-align: center !important;
		@include screen(small){
			font-size: 12px !important;
		}
	}
}
.down-arrow-ct{
	    transform: rotate(90deg);
}
.up-arrow-ct{
	    transform: rotate(270deg);
}
.left-arrow-ct{
	    transform: rotate(180deg);
}



.lint-h{
	h2{
		line-height: 1;
	}
}
.table-ct{
	.wt-50{
		width: 50%;
	}
	.wt-10{
		width: 10%;
	}
	.wt-33{
		width: 33.333%;
	}
	.wt-22{
		width: 22%;
	}
	.wt-32{
		width: 32%;
	}
	.wt-20{
		width: 20%;
	}
	.wt-26{
		width: 26%;
	}
	.wt-28{
		width: 28%;
	}
	.wt-40{
		width: 40%;
	}
	h3{
		font-family: Poppins-Bold;
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
		padding-bottom: 2%;
	}
	h5{
		font-family: Poppins-Medium;
		font-size: 12px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
	}
	/*.table-image {
	  td, th {
	    vertical-align: middle;
	  }
	}*/
	.bgcolor{
		thead{
			tr{
				th{
					background: #542f87;
				    /*width: 50%;*/
				    border: solid #fff;	
				      font-family: Poppins-SemiBold;
					  font-size: 20px;
					  font-weight: 600;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 2.18;
					  letter-spacing: normal;
					  text-align: left;
					  color: #ffffff;
					  vertical-align: middle;
				}
			}
		}
		td, th{
			    border: 3px solid #fff;
			    background: #aae1ff;
			    font-size: 18px;
				  font-weight: 500;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 2;
				  letter-spacing: normal;
				  text-align: left;
				  color: #542f87;
		}
		td{
			  font-family: Poppins-Medium;
		}
		th,strong{
			  font-family: Poppins-Bold;
		}
	}
	.lft-bg-color{
		th{
			background: #542f87;
			color: #fff;
		}
	}
}
.red-bg-th{
	background: #ed1651 !important;
}
.white-bg-th{
	background: #fff !important;
}
.part-ct{
	padding: 100px 0;
	h3{
		font-family: Poppins-Bold;
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
	}
	p{
		font-family: Poppins-Regular;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
	}
}

.rd-part-afrem{
	border-top: solid #ed1651 2px;
	padding-top: 75px;
	h2{
		font-family: Poppins-Bold;
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
	}
	h3{
		font-family: Poppins-Bold;
		font-size: 26px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.85;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
	}
	p{
		font-family: Poppins-Regular;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.39;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		padding-bottom: 50px;
	}
	.ulist{
		display: flex;
		ul{
			margin: 0 15% 0 0;
			padding: 0 0 25px 0;
			list-style: none;
			li{
				font-family: Poppins-Regular;
				font-size: 18px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.11;
				letter-spacing: normal;
				text-align: left;
				color: #000000;
			}
		}
	}
}




footer{
	background: #542f87;
	padding: 65px 0 45px 0;
	h2{
		font-family: Poppins-Regular;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
	.first-row{
		display: flex;
		justify-content: space-between;
		@include screen(small){
			flex-direction: column;
		}
		ul{
			margin: 0;
			padding: 0;
			@include screen(small){
				margin-top: 20px;
			}
			li{
			list-style: none;
				  font-size: 15px;
				a{
				  font-family: Poppins-Regular;
				  font-size: 15px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 2.67;
				  letter-spacing: normal;
				  text-align: left;
				  color: #ffffff;
				  text-decoration: none;
				}
			}
		}
	}

	.second-row{
		display: flex;
		flex-direction: column;
		align-items: center;
		@include screen(small){
			align-items: flex-start;
		}
		h2{
			margin-left: -40px;
			@include screen(small){
				margin-left: 0;
				margin-top: 20px;
			}
		}
		.icon-ct{
			    display: flex;
    			align-items: center;

			a{
				padding-left: 10px;
				@include screen(small){
				padding-left: 0;
				padding-right: 10px;	
				}
				img{
					width: 95%;
				}
			}
		}
	}

	.third-row{
			@include screen(small){
				margin-top: 20px;
			}
		p,a{
			/*opacity: 0.4;*/
			font-family: Poppins-Regular;
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.63;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			padding: 0;
			margin: 0;
			text-decoration: none;
		}
		p{
			opacity: 0.4;
		}
	}
	.coppy-right{
		p,a{
			opacity: 0.4;
			font-family: Poppins-Regular;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.5;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
		}
		a{
			text-align: center;
			text-decoration: none;
		}
	}
}

